.example-container {
    margin-top: 10px;
}

.word-list-header {
    font-size: 20px;
    display: flex;
    justify-content: center; /* Horizontally center the child */
    align-items: center; /* Vertically center the child */
}

.hanja-header {
    color: #72a1ed;
    font-size: 50px;
}

.meaning-reading-header {
    font-size: 30px;
    padding-left: 20px;
}

.main-info-section {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.main-info-upper-left {
    width: calc(100% - 150px);
}

.main-info-upper-right {
    width: 150px;
}

.main-info-tables {
    width: 100%;
}

.main-info-table {
    display: inline-block;
    width: 50%;
}

.main-info-upper-left,
.main-info-upper-right {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.main-info-table-head,
.main-info-table-data {
    display: table-cell;
}

.main-info-table-head {
    white-space: nowrap;
    width: 50px;
    text-align: left;
}

.main-info-table-data {
    padding-left: 50px;
    margin-left: 5px;
}

.main-info-lower {
    margin-top: 30px;
    margin-bottom: 30px;
}
