.main-info-table-head,
.main-info-table-data {
    display: table-cell;
}

.main-info-table-head {
    white-space: nowrap;
    width: 50px;
    text-align: left;
    padding-right: 20px;
}

.hanja-play-button {
    margin: 0;
    padding: 5px;
    text-align: center;
    color: #72a1ed;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hanja-writer-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}
