.bracketed-word {
  text-shadow: 0px 0px 8px #ffffff;
}

.sense-additional-data {
  padding-top: 3px;
  margin-top: 3px;
}

.sense-example-list {
  padding-left: 3%;
  padding-bottom: 5px;
  margin-top: 1px;
  padding-top: 0px;
}
