ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bracketed-word-from-example {
    text-decoration: underline;
}

.user-example-container-header {
    color: white;
    text-shadow: 0 0 10px gold;
    background-color: #312f36;
    margin-top: 10px;
}

.relation-table {
    display: table;
}

.relation-table-dt,
.relation-table-dd {
    display: table-cell;
}

.relation-table-dt {
    white-space: nowrap;
    width: 100px;
}

.relation-table-dd {
    padding-left: 5px;
    margin-left: 5px;
}

.sense-proverb-list {
    margin-top: 5px;
}

.example-container {
    margin-bottom: 10px;
}

.example-text {
    margin-bottom: 10px;
}

.history-example {
    font-size: small;
}

.history-examples-by-century-table {
    padding-top: 10px;
    border-collapse: collapse;
}

.sense-proverb {
    margin-top: 5px;
    margin-bottom: 10px;
}

.proverb-definition {
    margin-top: 5px;
    font-size: small;
}

.history-header-table-header {
    vertical-align: top;
    text-align: left;
}

.history-header-table-header,
.history-header-table-data {
    padding-bottom: 10px;
    padding-top: 10px;
}

.history-examples-by-century-table-column-name {
    padding-bottom: 20px;
}

.history-examples-by-century-table-column-name,
.history-examples-by-century-table-row-header,
.history-examples-by-century-table-data {
    border: 1px solid white;
    padding: 8px;
}

.history-examples-by-century-table-caption {
    font-size: larger;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: underline;
}

.additional-info-container {
    padding-top: 10px;
    padding-bottom: 20px;
}
