*.pyc
__pycache__
db.sqlite3
/venv
*.env
/api/management/dict_files
/user_note_images
/hanzi-writer-data
venv
.dockerignore
Dockerfile.backend
Dockerfile.database
Dockerfile.frontend
docker-compose.yml
fill_init_db.sh
run.bat