.study-word-list-item,
.same-hanja-list-item {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1a1a1a;
}

.same-hanja-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.same-hanja-section-writer {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.same-hanja-section-examples {
    display: inline-block;
    width: calc(100% - 100px);
}

.same-hanja-list-item {
    list-style: none;
    margin: 0;
    width: 100%;
}

.single-same-hanja-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.logged-out-homepage {
    padding: 20px;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}
