.study-word-list-item,
.same-hanja-list-item {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1a1a1a;
}

.same-hanja-section {
    width: 100%;
}

.same-hanja-section-writer {
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.same-hanja-section-examples {
    display: inline-block;
    width: 80%;
}

.same-hanja-list-item {
    list-style: none;
    margin: 0;
    width: 100%;
}

.single-same-hanja-container {
    width: 100%;
}

.homepage-section-header {
    font-size: 20px;
    background-color: #312f36;
    margin-bottom: 0;
    padding-left: 5px;
    margin-top: 10px;
}
