.character-square {
    display: flex;
    margin: 0;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    background-color: #18181a;
    border-radius: 10px;
}

.square-hanja {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
}

.character-square-left-side {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.character-square-right-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question-mark-container {
    width: auto;
    height: auto;
    margin-bottom: 5px;
}

.copier-container {
    width: auto;
    height: auto;
}

.usable-characters-board {
    display: grid;
    /* each item in the grid needs to be 1/8 of the width, so padding of 1% + gap of 1% +
     column width of 10.5% */
    grid-template-columns: repeat(auto-fill, minmax(10.5%, 1fr));
    gap: 1%;
    box-sizing: border-box;
    border: 2px solid white;
    width: 100%;
    padding: 1%;
}

.connection-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    padding: 10px;
    height: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.connection-square {
    border: 1px white solid;
    aspect-ratio: 1;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

.connection-square-character {
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
    width: 100%;
    display: inline-block;
}

.clear-connection-square-button {
    cursor: pointer;
    width: 25%;
    aspect-ratio: 1;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
    background-color: transparent;
    overflow: hidden;
    text-align: center;
    font-size: xx-small;
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
}

.clear-connection-square-button:hover {
    color: red;
}

.game-boards {
    height: 100%;
    width: 100%;
}

.game-top {
    height: 30%;
    width: 100%;
}

.game-bottom {
    margin-top: 20px;
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    box-sizing: border-box;
}

.game-explanation-box {
    max-width: 600px;
}

.top-info {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.submit-area {
    height: 100%;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.submit-area > div {
    display: inline-block;
}

.word-feedback-area {
    background-color: red;
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.instructions-area {
    background-color: blue;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.submit-button-area {
    background-color: green;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
