.panel {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;

    width: 100%;
    max-width: 100%;

    display: flex;
    flex: 1;
    flex-direction: column;

    overflow-y: scroll;

    scrollbar-width: thin;
}

.panel-hidden {
    display: none;
}
