.additional-info-section-header {
  font-size: 20px;
  background-color: #312f36;
  margin-bottom: 0;
  padding-left: 5px;
}

.clickable-result {
  transition: all 0.3s ease;
}

.clickable-result:hover {
  text-decoration: underline;
  text-shadow: 0 0 5px blue;
  cursor: pointer;
}

.hanja-char {
  transition: all 0.3s ease;
}

.hanja-char:hover {
  text-shadow: 0 0 5px #00ffff;
}

.hanja-hover-box {
  width: 200px;
  position: absolute;
  background-color: #3d3f47;
  border: 1px solid #ccc;
  z-index: 100;
  padding: 0;
  margin: 0;
}

.meaning-reading-section {
  width: 100%;
  text-align: center;
  background-color: #272938;
  color: white;
  font-size: large;
}

.korean-word-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 10px;
  overflow: hidden;
}

.single-hanja-example {
  color: white;
  font-size: small;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
