/* styles for button. actually making it a button breaks the label functionality */
.upload-file-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
.upload-file-button:hover {
    border-color: #646cff;
}
.upload-file-button:focus,
.upload-file-button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
