/* Universal */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a:link {
    color: skyblue;
}

a:visited {
    color: #dda0dd;
}

#main-page {
    --deepblue: #221c91;
    --deepred: #400903;
    --brownred: #59211b;
    --bluepurple: #25254d;
    --cyan: #344e61;
    --shaded: #1a1a1a;
    --gold: rgb(148, 104, 33);
}

.shaded-background {
    background-color: var(--shaded);
}

input[type="text"],
input[type="password"],
textarea {
    background-color: #333333;
    border: 1px solid #777777;
    color: lightgray;
}

.curved-box {
    background-color: #1a1a1a;
    border-radius: 8px;
    border: transparent;
}

.curved-box-shape {
    border-radius: 8px;
    border: transparent;
}

/* (nested 1 level down) */
.curved-box-nest1 {
    background-color: #222222;
    border-radius: 8px;
    border: transparent;
}

.curved-box-header-nest2 {
    font-size: 20px;
    background-color: #3a3742;
    padding: 5px;
    padding-left: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: transparent;
}

.curved-box-nest2 {
    background-color: #2f2f2f;
    border-radius: 8px;
    border: transparent;
}

.single-line-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.curved-box-header {
    font-size: 20px;
    background-color: #312f36;
    padding: 5px;
    padding-left: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: transparent;
}

.word-emphasized-box {
    background-color: #4f4f4f;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.round-corners {
    border-radius: 8px;
    border: 1px solid transparent;
}

.flex {
    display: flex;
}

.pointer {
    cursor: pointer;
}

/* Justify */
.space-children-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.space-children-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center-children-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-on-screen {
    position: absolute;
    left: max(50%, calc(var(--min-screen-width) / 2));
    transform: translateX(-50%);
}
/* */

/* Padding */
.lrpad-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.lrmargin-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.tbpad-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.lrpad-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.tbpad-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pad-10 {
    padding: 10px;
}

.margin-10 {
    margin: 10px;
}

.tbmargin-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* */

.textcentered {
    text-align: center;
}

.underlined {
    text-decoration: underline;
}

.no-display {
    display: none;
}

textarea {
    overflow-y: scroll;
    resize: none;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-size {
    width: 100%;
    height: 100%;
}

button {
    color: lightgray;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    font-family: inherit;
    background-color: #333333;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.source {
    color: gray;
    font-size: small;
}

.clickable-result {
    transition: all 0.3s ease;
}
.clickable-result:hover {
    text-decoration: underline;
    text-shadow: 0 0 5px blue;
    cursor: pointer;
}

/* used for page breaks */
.horizontal-bar {
    width: 75%;
    height: 2px;
    flex-shrink: 0;
    background-color: #444444;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

/* used for headers of important sections */
.section-header {
    font-size: 20px;
    background-color: #312f36;
    padding: 5px;
    padding-left: 15px;
}

/* */

#main-page {
    height: 100vh;
    width: 100vw;
    min-width: var(--min-screen-width);
    min-height: var(--min-screen-height);

    overflow: hidden;
}

#nav-bar-container {
    display: flex;
    width: 100%;
    height: 7.5%;
}

/* This is to extend the bar from the sides of the panels upward. Because the panels are unaware 
   of whether they are on the left or right and the navbar is separated from the panels functionally, 
   a single bar cannot be drawn. (all the way from the top to the bottom). */
.blue-bar {
    content: "";
    position: absolute;
    top: 0;
    left: max(calc(50% - 5px), calc(var(--min-screen-width) / 2 - 5px));
    width: 10px;
    background-color: #0c0245;
    height: max(100%, var(--min-screen-height));
}

#both-panels-container {
    display: flex;
    height: 92.5%;
    width: 100%;
}

.panel-container {
    height: 100%;
    width: calc(50% - 5px);
    max-width: calc(50% - 5px);
    display: flex;
    flex-direction: column;
}

#left-panel-container {
    margin-right: 5px;
}

#right-panel-container {
    margin-left: 5px;
}
