/* Universal */
* {
    box-sizing: border-box;
}

.source {
    color: gray;
    font-size: small;
}

.clickable-result {
    transition: all 0.3s ease;
}
.clickable-result:hover {
    text-decoration: underline;
    text-shadow: 0 0 5px blue;
    cursor: pointer;
}

/* used for page breaks */
.horizontal-bar {
    width: 75%;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.2);
    margin-left: 12.5%;
    margin-right: 12.5%;
}

/* used for headers of important sections */
.section-header {
    font-size: 20px;
    background-color: #312f36;
    margin-bottom: 0;
    padding-left: 5px;
}

/* */

#main-page {
    height: 100vh;
    min-height: 500px;
    width: 100vw;
    overflow: scroll;
}

#nav-bar-container {
    display: flex;
    width: 100%;
    height: 7.5%;
}

/* This is to extend the bar from the sides of the panels upward. Because the panels are unaware 
   of whether they are on the left or right and the navbar is separated from the panels functionally, 
   a single bar cannot be drawn. (all the way from the top to the bottom). */
#nav-bar-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 10px;
    background-color: #0c0245;
    transform: translateX(-50%);
    /* height of the entire navbar in general is 7.5% so this follows suit */
    height: 100%;
}

#both-panels-container {
    display: flex;
    width: 100%;
    height: 92.5%;
}

.panel-container {
    height: 100%;
    flex: auto;
    display: inline-block;
    overflow-y: scroll;
    width: 50%;
}

#left-panel-container {
    border-right: 5px solid #0c0245;
}

#right-panel-container {
    border-left: 5px solid #0c0245;
}
