#main-page {
  height: 100vh;
  width: 100vw;
}

#both-panels-container {
  display: flex;
  width: 100%;
  height: 90%;
}

.panel-container {
  flex: auto;
  box-sizing: border-box;
  display: inline-block;
  overflow-y: scroll;
  width: 50%;
}

#left-panel-container {
  border-right: 2px solid blue;
  padding-left: 1.5%;
  padding-right: 1%;
}

#right-panel-container {
  border-left: 2px solid blue;
  padding-left: 1%;
  padding-right: 1.5%;
}
