:root {
    font-family: "Nanum Barun Gothic", "New Gulim", "새굴림", "dotum", "돋움";
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgb(222, 222, 222);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --min-screen-width: 600px;
    --min-screen-height: 400px;
}

body {
    margin: 0;
    place-items: center;
}
