.form-title {
    font-size: 36px;
    margin-bottom: 36px;
    text-decoration: underline;
}

.add-word-form-container {
    text-align: center;
}

.add-word-form > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-word-form > div > label {
    margin-right: 10px;
}

.add-word-input-box {
    width: 30%;
}

.add-example-form {
    width: 100%;
}

.add-example-text-area {
    width: 90%;
    height: 100%;
    resize: none;
}

.text-area-container {
    display: table;
    width: 100%;
}

.text-area-container-dt,
.text-area-container-dd {
    display: table-cell;
    padding-left: 20px;
    padding-right: 20px;
}

.text-area-container-dt {
    vertical-align: top;
    white-space: nowrap;
    width: 20%;
}

.text-area-container-dd {
    width: 80%;
    text-align: right;
    height: 50px;
    margin: 0;
    padding: 0;
}

.add-example-header,
.form-tip,
.add-example-submit-button,
.add-example-submit-message {
    display: inline-block;
    height: 100%;
}

.form-upper-bar {
    padding-bottom: 10px;
    font-size: 30px;
    text-align: center;
    background-color: #221c91;
    margin-bottom: 10px;
}

.add-example-header {
    width: 25%;
    font-size: 24px;
    background-color: black;
    text-align: center;
}

.form-tip {
    list-style: square;
    list-style-position: inside;
    display: list-item;
    width: calc(75% - 10px);
    text-align: left;
    padding-left: 10px;
    font-size: medium;
    margin-bottom: 5px;
}

.form-tip-detail {
    width: 100%;
    padding-left: 5%;
    list-style: inside;
    display: list-item;
    font-size: small;
    padding-top: 5px;
}

.add-example-form-lower-bar {
    height: 20px;
    padding-top: 10px;
}

.add-example-submit-button {
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    background-color: black;
    border: 3px solid black;
    border-radius: 7px;
    cursor: pointer;
    padding: 0px;
    line-height: 0px;
}

.example-section-header {
    font-size: 20px;
    background-color: #160c1c;
    margin-bottom: 0;
    padding-left: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.example-number-title {
    width: 80%;
    align-items: center;
    flex: 1;
    text-align: center;
}

.example-delete-button {
    align-items: center;
    background-color: #400903;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
}

.example-delete-button:hover {
    background-color: #59211b;
}

.no-examples-text {
    text-align: center;
}

#file-input {
    display: none;
}
