.form-title {
    font-size: 36px;
    margin-bottom: 36px;
    text-decoration: underline;
}

.add-word-form-container {
    text-align: center;
}

.add-word-form > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-word-form > div > label {
    margin-right: 10px;
}

.add-word-input-box {
    width: 30%;
}

.add-example-form {
    width: 100%;
}

.add-example-text-area {
    width: 90%;
    height: 100%;
}

.text-area-container {
    display: table;
    width: 100%;
}

.text-area-container-dt,
.text-area-container-dd {
    display: table-cell;
    padding-left: 20px;
    padding-right: 20px;
}

.text-area-container-dt {
    vertical-align: top;
    white-space: nowrap;
    width: 20%;
}

.text-area-container-dd {
    width: 80%;
    text-align: right;
    height: 50px;
}

.add-header,
.form-tip,
.add-item-submit-button,
.add-item-submit-message {
    display: inline-block;
    height: 100%;
}

.form-upper-bar {
    padding-bottom: 10px;
    font-size: 30px;
    text-align: center;
    background-color: var(--deepblue);
    margin-bottom: 10px;
}

.add-item-header {
    width: 25%;
    font-size: 24px;
    background-color: black;
    text-align: center;
}

.form-tip {
    list-style: square;
    list-style-position: inside;
    display: list-item;
    width: 85%;
    text-align: left;
    padding-left: 10px;
    font-size: medium;
    margin-bottom: 5px;
}

.form-tip-detail {
    width: 100%;
    padding-left: 5%;
    list-style: inside;
    display: list-item;
    font-size: small;
    padding-top: 5px;
}

.item-delete-button {
    background-color: var(--deepred);
}
.item-delete-button:hover {
    background-color: var(--brownred);
}

.file-input {
    display: none;
}
