.unknown-words-box-header {
    text-align: center;
    font-size: 20px;
}

.unknown-words-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.unknown-word {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-box {
    width: 80%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
}

.input-button-container {
    display: flex;
    width: 20%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.find-words-button {
    text-align: center;
    vertical-align: middle;
}

.input-box-and-button-container {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-content: space-between;
}
