
.result_box {
  border-bottom: 10px bold transparent;
  padding: 5px;
}

.header {
  font-family: sans-serif;
  margin-bottom: 5px;
}

.word_header {
  color: #72a1ed;
  font-size: 20px;
  font-weight: bold;
}

.origin_header {
  font-size: 16px;
}

.hover-glow {
  transition: all 0.3s ease;
}

.hover-glow:hover {  
  text-shadow: 0 0 5px #00ffff;
}

.listed_senses {
  line-height: 1.5;
  list-style: none;
  padding: 0;
}