.login-box {
    background-color: white;
    height: 200px;
    width: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 3px;
}

.login-box > * {
    color: black;
}

.input-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.login-label {
    justify-content: flex-start;
}

.login-input {
    justify-content: flex-end;
}

#login-form-top-strip,
#submit-and-message-container {
    display: flex;
}

#login-form-top-strip {
    display: flex;
    height: 10%;
    width: 100%;
    padding: 3px;
    margin-bottom: 10px;
}

#login-form-header {
    flex-grow: 1;
    text-align: center;
    width: 90%;
    height: 100%;
}

#cancel-login-button {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    width: 10%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: red;
}

#cancel-login-button:hover,
#cancel-login-button:focus {
    outline: none; /* Removes outline since button should have invis background */
}

#submit-and-message-container {
    height: 30%;
    width: 100%;
}

#messages-container {
    flex-grow: 1;
    width: 75%;
    padding: 4px;
    height: 100%;
}

#submit-login-button {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
    flex-grow: 1;
    width: 25%;
    height: 100%;
    display: inline;
    vertical-align: middle;
}

#login-success-message {
    color: green;
}

#login-fail-message {
    color: red;
}
