.fixed-header {
    min-height: 40px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.fixed-header > * {
    box-sizing: border-box;
}

.fixed-header button {
    cursor: pointer;
    padding: 12px;
    height: 30px;
    overflow: hidden;
    vertical-align: middle;
    line-height: 0px;
}

.fixed-header button.activated-button {
    background-color: var(--bluepurple);
    text-shadow: 0 0 15px white;
}

.fixed-header button.enabled-navigation-button {
    background-color: var(--cyan);
}

.fixed-header button.disabled-navigation-button {
    background-color: black;
}

.search-bar {
    display: inline-block;
}

.dictionary-button-container {
    display: inline-block;
}

.form-content {
    display: inline-block;
}

.view-history-navigator {
    display: inline-block;
}
