
.activated-button {
  background-color: #45a049; /* Darker green */
}

.search-bar {
  display: inline-block;
}

.dictionary-button-container {
  display: inline-block;
}

.form-content {
  display: inline-block;
}