.truncator-dropdown {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
}

.expansion-controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4%;
}

.expand-button {
    width: 100%;
    height: 20px;
}

.retract-line-unshortened,
.retract-line-shortened-expanded,
.retract-line-shortened-unexpanded {
    transition: all 0.3s ease;
    width: 25%;
    background-color: gray;
}

.expand-button:hover,
.retract-line-shortened-expanded:hover {
    cursor: pointer;
}

.retract-line-shortened-expanded:hover {
    background-color: #ccd5e0;
}

.retract-line-unshortened {
    height: 100%;
}

.retract-line-shortened-expanded,
.retract-line-shortened-unexpanded {
    height: calc(100% - 20px);
}

.expand-button {
    border: 1px;
    color: gray;
    border-color: gray;
    transition: all 0.3s ease;
}

.expand-button:hover {
    color: #ccd5e0;
}

.content-entire,
.content-truncated {
    margin-left: 2%;
    width: 95.5%;
    flex: none;
}

.content-truncated {
    max-height: 100px;
    overflow-y: hidden;
}
