#navbar {
  background-color: black;
}

.login-box {
  background-color: white;
  height: 200px;
  width: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 3px;
}

.login-box > * {
  color: black;
}

.input-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.login-label {
  justify-content: flex-start;
}

.login-input {
  justify-content: flex-end;
}
