#navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
}

#navbar-dictionary-title {
    color: gold;
}

#login-button,
#logout-button {
    text-align: right;
}

#username-display {
    text-align: center;
}
