.hanja-clickable-result {
    transition: all 0.3s ease;
    font-size: 50px;
    color: #72a1ed;
    padding-right: 20px;
    display: inline-block;
}

.hanja-clickable-result:hover {
    text-shadow: 0 0 5px white;
    cursor: pointer;
}

.hanja-result-container {
    margin-bottom: 10px;
    width: 100%;
}

.meaning-reading {
    font-size: 20px;
    display: inline-block;
}

.hanja-result-top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.hanja-result-bottom {
    padding: 10px;
    width: 100%;
}

.meaning_reading {
    font-size: 20px;
}
