#hover-glow {
    transition: all 0.3s ease;
}

#hover-glow:hover {
    text-shadow: 0 0 5px #00ffff;
}

.result-count-indicator {
    padding-top: 10px;
}

.no-results-indicator {
    padding: 30px;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}
